<a href="https://colab.research.google.com/github/gyuheon1/pythonStudy24/blob/master/SetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [2]:
s2 = set("Hello") # set() 의 특징 중복을 허용하지 않는다, 순서가 없다.
s2

{'H', 'e', 'l', 'o'}

In [6]:
# set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후에 해야 한다.
s1 = set([1, 2, 3])
l1 = list(s1)
l1[0]

1

In [5]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [7]:
# set 자료형을 정말 유용하게 사용하는 경우는 교집합, 합집합, 차집합을 구할 때이다.
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2 # 교집합  = s1.intersection(s2)

{4, 5, 6}

In [8]:
s1 | s2 # 합집합  = s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
s1 - s2 # 차집합  = s1.difference(s2)

{1, 2, 3}

In [10]:
# 이미 만들어진 set 자료형에 값을 추가할 수 있다.
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [11]:
# 여러 개의 값을 한꺼번에 추가할 때는 .update() 를 쓴다
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
s1 = set([1, 2, 3]) # 특정 값을 제거하고 싶을 때, .remove() 함수를 쓴다.
s1.remove(2)
s1